* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: Arial,sans-serif ;
}

body{

	background: #f7f7f7;
}


#status {
	margin-top: 5px;
	height: 70px;
	width: 100%;
	background-color: #0097a7;
}

#main {
	margin-left: 10%;
	margin-right: 10%;
	margin-top:  50px;
	height: 600px;
	width: 80%;
	background-color:#0097a7;
	border-radius: 5px;
}

#bus {
	margin-top: 14px;
	margin-left: 39%;
	padding: 15px;
	height: 35px;
	width: 305px;

}

#contenido{
	margin: 5px;
	width: 200px;
	height: 350px;
	background-color: rgba(62,177,255,0.4);
}